<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form (ngSubmit)="guardarUsuario()" [formGroup]="form">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput>
                        <mat-error *ngIf="form.invalid">{{obtenerErrorNombre()}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput>
                        <mat-error *ngIf="form.invalid">{{obtenerErrorPassword()}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-flat-button color="primary" [disabled]="form.invalid">Guardar</button>
                    <a mat-stroked-button>Calcelar</a>
                </div>
            </form>
        </div>
    </div>
</div>